<header class="container-fluid text-center col-12" id="pageContainer">
    <h1 class="display-2" id="pageHeader">Connecticut Hockey League</h1>
</header>

<main>

    <!-- Team Details Form Section -->
    <section class="container-fluid">
        <h2 class="col-12 text-center font-weight-bold" id="subtitles">Team Details</h2>
        <hr>
        <form id="teamDetailsForm" name="teamDetailsForm" action="#">
            <div class="d-flex justify-content-center">
                <!-- Team Information Fieldset -->
                <fieldset id="teamInfoSet">
                    <legend id="teamInfoLegend" class="w-50 border border-dark mx-auto text-center">Team Information
                    </legend>
                    <div class="form-row justify-content-center">
                        <label for="teamid" class="allLabels mr-3">ID</label>
                        <input type="text" class="form-control col-md-1 mb-2 ml-2 mr-2" name="teamid" id="teamid"
                            [(ngModel)]="teamid" readonly>
                        <label for="teamname" id="nameLabel" class="allLabels ml-3 mr-3">Name</label>
                        <input type="text" class="form-control col-md-2 mb-2 ml-2 mr-2" name="teamname" id="teamname"
                            [(ngModel)]="teamname" readonly>
                        <label for="leaguecode" class="allLabels ml-3 mr-3">Division</label>
                        <input type="text" class="form-control col-md-2 mb-2 ml-2 mr-2" name="leaguecode"
                            id="leaguecode" [(ngModel)]="leaguecode" readonly>
                        <label for="teamgender" class="allLabels ml-3 mr-3">Gender</label>
                        <input type="text" class="form-control col-md-2 mb-2 ml-2 mr-2" name="teamgender"
                            id="teamgender" [(ngModel)]="teamgender" readonly>
                    </div>
                    <div class="form-row justify-content-center mt-2">
                        <label for="maxteammembers" id="maxPlayersLabel" class="allLabels mr-3">Max Players</label>
                        <input type="number" class="form-control col-md-1 mb-2 ml-2 mr-2" name="maxteammembers"
                            id="maxteammembers" [(ngModel)]="maxteammembers" readonly>
                        <label for="minmemberage" id="minAgeLabel" class="allLabels ml-3 mr-3">Min Age</label>
                        <input type="number" class="form-control col-md-1 mb-2 ml-2 mr-2" name="minmemberage"
                            id="minmemberage" [(ngModel)]="minmemberage" readonly>
                        <label for="maxmemberage" id="maxAgeLabel" class="allLabels ml-3 mr-3">Max Age</label>
                        <input type="number" class="form-control col-md-1 mb-2 ml-2 mr-2" name="maxmemberage"
                            id="maxmemberage" [(ngModel)]="maxmemberage" readonly>
                    </div>
                </fieldset>
            </div>
            <div class="d-flex justify-content-center">
                <!-- Manager Information Fieldset -->
                <fieldset id="managerInfoSet" class="mt-3">
                    <legend id="managerInfoLegend" class="w-50 border border-dark mx-auto text-center">Manager
                        Information
                    </legend>
                    <div class="form-row justify-content-center">
                        <label for="managername" id="mgrNameLabel" class="allLabels mr-3">Name</label>
                        <input type="text" class="form-control col-md-2 mb-2 ml-2 mr-2" name="managername"
                            id="managername" [(ngModel)]="managername" readonly>
                        <label for="managerphone" id="mgrPhoneLabel" class="allLabels ml-3 mr-3">Phone</label>
                        <input type="text" class="form-control col-md-2 mb-2 ml-2 mr-2" name="managerphone"
                            id="managerphone" [(ngModel)]="managerphone" readonly>
                        <label for="manageremail" id="mgrEmailLabel" class="allLabels ml-3 mr-3">Email</label>
                        <input type="text" class="form-control col-md-3 mb-2 ml-2 mr-2" name="manageremail"
                            id="manageremail" [(ngModel)]="manageremail" readonly>
                    </div>
                </fieldset>
            </div>
        </form>
    </section>

    <!-- Buttons Section-->
    <section class="container-fluid">
        <div class="row">
            <div id="buttonsDiv" class="col-md-12 text-center mt-2">
                <button class="col-md-1 btn btn-primary btn-md mb-1" type="button" id="backBtn"
                    (click)="onBack()">Back</button>
            </div>
        </div>
    </section>

    <!-- Players Table Title and Add Button Section -->
    <section class="container-fluid">
        <hr>
        <div id="playersTitle">
            <h2 class="col-12 text-center font-weight-bold" id="subtitles2">Players</h2>
        </div>
        <div id="addPlayerBtnDiv" class="col-12 text-center" *ngIf="!teamFull">
            <button class="col-md-2 btn btn-success btn-md mb-2 mr-1" type="button" id="addPlayerBtn" disabled>Add Player</button>
        </div>
    </section>

    <!-- Team Full Message Section -->
    <section class="container-fluid d-flex justify-content-center">
        <div id="teamFullDiv" class="col-12 text-center font-weight-bold" *ngIf="teamFull">
            <p id="teamFullMessage">Team is Full</p>
        </div>
    </section>

    <!-- Display Players Table Section -->
    <section class="container-fluid d-flex justify-content-center">
        <table id="players" class="tables table-striped table-bordered col-md-6">
            <thead>
                <tr>
                    <th>Player Name</th>
                    <th>Email Address</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let player of players">
                    <td>{{player.MemberName}}</td>
                    <td>{{player.Email}}</td>
                </tr>
            </tbody>
        </table>
    </section>

</main>