<!-- Footer Section -->
<footer class="container-fluid">
    <hr>
    <div class="row">
        <div class="col" id="copyright">
            &copy; Connecticut Hockey League, Inc. 1973
        </div>
        <div class="col text-right" id="imagescredit">
            Images provide by <a href="https://www.wikipedia.org/" target="_blank">Wikipedia</a>
        </div>
    </div>
</footer>