/* All Pages - H1 */
h1  {
    color: white  ;
    font-family: 'Holtwood One SC', serif;
}

/* All Pages - H2 */
h2  {
    color: black  ;
    font-family: 'Holtwood One SC', serif;
    font-size: 15px;
}

/* Table Head - Background Color */
thead {
    background-color: antiquewhite;
}

/* All Pages - Subtitles */
#subtitles, #subtitles2 {
    font-size: 40px;
}

/* All Pages - Labels */
.allLabels {
    font-weight: bold;
}

/* All Pages - Horizontal Rule */
hr { 
    border-width: 3px;
}

/* All Pages - Modal Headers */
.modal-header {
     justify-content: center;
     font-weight: bold;
     font-size: 20px;
 }

/* Media Queries */ 
/* All Pages - Extra small devices (phones, 850px and down) */
@media only screen and (max-width: 850px) {
    .tables {font-size: 12px;}
    #subtitles {font-size: 20px;}
    #subtitles2 {font-size: 20px;}
    .buttonText {display: none;}
}

/* All Pages - Small devices (portrait tablets and large phones, 850px to 1050px) */
@media only screen and (min-width: 850px) and (max-width: 1050px) {
    .buttonText {display: none;}
}

/* All Pages - Large devices (laptops/desktops, 1050px to 1255px) */
@media only screen and (min-width: 1050px) and (max-width: 1255px) {
} 