<!-- Nav Bar Section -->
<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-primary">
    <a class="navbar-brand text-light" (click)="onHome()">Home</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navBar" aria-controls="navBar"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navBar">
        <ul id="navbarLinks" class="navbar-nav ml-auto">
            <li *ngIf="!isAuth()" class="nav-item">
                <a class="btn nav-link" (click)="onLogin()">Login</a>
            </li>
            <li *ngIf="!isAuth()" class="nav-item">
                <a class="btn nav-link" (click)="onRegister()">Register</a>
            </li>
            <li *ngIf="isAuth()" class="nav-item">
                <a class="btn nav-link" (click)="onEditProfile()">Edit Profile</a>
            </li>
            <li *ngIf="isAuth() && isAdmin()" class="nav-item">
                <a class="btn nav-link" (click)="onAdmin()">Admin</a>
            </li>
            <li *ngIf="isAuth()" class="nav-item">
                <a class="btn nav-link" (click)="onLogOut()">Log Out</a>
            </li>
        </ul>
    </div>
</nav>