/* Filter Teams Page - Fieldset */
#filterSet {
    border: thin solid;
    padding: 1em;
}

/* Filter Teams Page - All Buttons */
.teamsBtn {
    text-align: center;   
}

/* Filter Teams Page - Fieldset Legends */
#filterLegend {
    font-size: 15px;
    font-weight: bold;
    background-color: antiquewhite;
}

/* Media Queries */ 
/* Filter Teams Page - Extra small devices (phones, 850px and down) */
@media only screen and (max-width: 850px) {
    #selectDivLabel {margin-left: 55px;}
    #filterLegend {font-size: 14px;}
}
